@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  margin: 0em;
}
body {
  margin: 0em;
  padding: 0em;
  background-color: rgb(248, 252, 252);
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  margin: 0em auto;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header {
  font-size: 17px;
  color: white;
  background-color: #eb5757;
  padding: 10px;
  text-align: center;
}
.chat-body {
  flex: 1;
  padding: 45px 25px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}

footer {
  padding: 25px 15px;
  display: flex;
  background-color: #e4e4e4;
  align-items: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  max-width: 450px;
}

footer button {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: #eb5757;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer button:hover {
  transform: scale(1.1);
}

footer input {
  flex: 1;
  padding: 10px;
  border-radius: 99px;
  border: none;
  font-size: 13px;
  line-height: 18px;
  padding-right: 40px;
  width: 100%;
  outline: none;
}
footer .input {
  flex: 1;
  display: flex;
  position: relative;
}

footer .input:after {
  content: url("./Images/message-circle.svg");
  position: absolute;
  top: calc(50% - 14px);
  right: 10px;
  height: 28px;
  width: 28px;
}

.chat {
  font-size: 13px;
  line-height: 18px;
  padding: 12px;
  margin: 15px 0px;
  box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06),
    0px 4px 4px rgba(50, 50, 71, 0.08);
  position: relative;
  width: 70%;
  word-wrap: break-word;
}

.chat span {
  position: absolute;
  bottom: -20px;
  color: black;
  right: 10px;
}

.chat.user {
  align-self: flex-end;
  background-color: #eb5757;
  color: white;
  border-radius: 20px 2px 20px 20px;
}
.chat.user span {
  left: 10px;
}

.chat.bot {
  align-self: flex-start;
  border-radius: 0px 20px 20px 20px;
  margin-left: 50px;
}

.chat.bot.more {
  margin-bottom: 0em;
}

.chat.bot.more span {
  display: none;
}

.chat.bot.first:before {
  content: url("./Images/bot.svg");
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0em;
  left: -50px;
}

.chat.bot.first:after {
  content: "";
  width: 12.5px;
  border-radius: 50%;
  height: 12.5px;
  background-color: green;
  position: absolute;
  left: -25px;
  top: 25px;
  border: 2px solid white;
}

#time {
  color: #949494;
  background-color: #f2f2f2;
  font-size: 13px;
  line-height: 18px;
  padding: 6px 17px;
  text-align: center;
  align-self: center;
  margin: 20px 0px;
  border-radius: 99px;
}

#loader {
  height: 30px;
  align-self: flex-start;
  margin-left: 50px;
  margin-top: 20px;
}

#buttons {
  display: flex;
  transition: all 0.25s ease-in-out;
}
#buttons.typing {
  width: 0;
  opacity: 0;
}
